<!doctype html>
{% load nepali_date %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <title>CRUD Project</title>
</head>
   
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.8/css/dataTables.dataTables.min.css">

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.datatables.net/2.3.8/js/dataTables.min.js"></script>

<script>
$(document).ready(function () {
    $('table').DataTable();
});
</script>

<body>

<div class="container md-6">
    <div class="row justify-content-center">
        
        <div class="col">

            <h4 style="color:rgb(245,22,171); text-align:center; font-weight:900;">
                Views Form
            </h4>

            <a href="/" class="btn btn-secondary mt-2">
                ← Back to Home
            </a>

            <div class="d-flex mb-3 mt-3">
                <a href="{% url 'recycle' %}" class="btn btn-warning ms-auto">
                    Recycle Bin
                </a>
            </div>

            <table class="table table-bordered table-hover w-100 table-responsive">

                <thead class="table-dark">
                    <tr>
                        <th>S.N</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Address</th>
                        <th>Contact</th>
                        <th>DOB</th>
                        <th>Email</th>
                        <th>Image</th>
                        <th>Video</th>
                        <th>PDF</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>

                {% for i in data %}
                <tr>

                    <td>{{ forloop.counter }}</td>
                    <td>{{ i.name }}</td>
                    <td>{{ i.age }}</td>
                    <td>{{ i.address }}</td>
                    <td>{{ i.contact }}</td>
                    <td>{{ i.DOB }}</td>
                    <td>{{ i.email }}</td>

                    <!-- Image -->
                    <td>
                        {% if i.image %}
                            <img src="{{ i.image.url }}"width="50"height="50"alt="image">
                        {% else %}
                            No Image
                        {% endif %}
                    </td>

                    <!-- Video -->
                    <td>
                        {% if i.video %}
                            <a href="{{ i.video.url }}" target="_blank">
                                View Video
                            </a>
                        {% else %}
                            No Video
                        {% endif %}
                    </td>

                    <!-- PDF -->
                    <td>
                        {% if i.pdf %}
                            <a href="{{ i.pdf.url }}" target="_blank">
                                Open PDF
                            </a>
                        {% else %}
                            No PDF
                        {% endif %}
                    </td>

                    <!-- Action -->
                    <td>

                        <a href="{% url 'edit' i.id %}"
                           class="btn btn-primary btn-sm">
                            <i class="bi bi-pencil-square"></i>
                            Edit
                        </a>

                        <a href="{% url 'delete' i.id %}"
                           class="btn btn-danger btn-sm"
                           onclick="return confirm('Are you sure you want to delete?')">

                            <i class="bi bi-trash"></i>
                            Delete

                        </a>

                    </td>

                </tr>
                {% endfor %}

                </tbody>

            </table>

        </div>

    </div>
</div> 

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>